.content {
    padding: 223px 0 178px 0;
    .heading {
        font-size: 3.8rem;
        width: 507px;
        margin-left: 138px;
    }
}

.info {
    margin: 58px 0 0 138px;
}

.address,.contact-info {
    margin-bottom: 32px;
    .title {
        font-size: 2.6rem;
        margin-bottom: 32px;
    }
}

.contact {
    display: block;
    line-height: 2.4rem;
}