.wrap {
    margin: 198px 0 292px 138px;
    .heading {
        font-size: 3.8rem;
    }
}

.job-position {
    margin-top: 132px;
    .number {
        font-size: 6.2rem;
        font-weight: 550;
        margin-bottom: 54px;
    }
    .position-link {
        font-size: 2.6rem;
        font-weight: 550;
        color: var(--dark-color);
    }
    .desc {
        margin-top: 38px;
        font-size: 2.4rem;
        display: block;
    }
}

@media (max-width: 1024px) {
    .wrap {
        margin: 72px 18px;
    }
    .job-position {
        margin-top: 60px;
        .number {
            font-size: 3.8rem;
        }
    }
}